#add-item-section {
  text-align: center;
}

#add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.todo-lists {
  padding: 1rem;
}

.card {
  background-color: #ff8a5c;
  margin-bottom: 1rem;
  padding: 0.1rem;
  border-radius: 5px;
}

.category-title {
  padding-left: 1rem;
}
