#add-item-section {
  text-align: center;
}

#add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

#add-item-title {
  color: #515739;
}

.todo-lists {
  padding: 1rem;
}

.card {
  background-color: #ff8a5c;
  margin-bottom: 1rem;
  padding: 0.1rem;
  border-radius: 5px;
}

.category-title {
  color: #515739;
  padding-left: 1rem;
}

button:hover {
  cursor: pointer;
}

li.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 5px 0px;
  ;
}


